header,
footer {
    background-image :linear-gradient( #58d4fa,#578ec1);
    color : white;
}
.nav-item {
    font-size: large;
}
.nav-item a {
    color: white;
}

.navbar-nav .nav-link.active {
    color: white;
    font-weight: bold;
}

.nav-heading {
    font-size: x-large;
    padding: 8px;
    margin-bottom: 6px;
}

.card  {
    border: none;
}

.card-header
{
    color: blue;
    border-bottom-width : 3px;
    border-bottom-color : #F3AC03;
    text-align: center;
    background-color: white;
    font-weight: bold;
}

.xo-canvas-column .nav-heading
{
    color: #F3AC03;
    border-bottom-width : 1px;
    border-bottom-style: dashed;
    border-bottom-color : dodgerblue;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 4px;
}

.xo-block .card-body {
    background-color: #f0f0f0;
}


.xo-canvas-column .nav li
{
    border-bottom: #666;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}
.xo-canvas-column .nav li a
{
    color: #666;
    text-decoration: none;
    font-weight: bold;
    font-size: .75em;
}

.xo-canvas-leftcolumn .nav-heading {
    text-align: left;
}

.xo-canvas-rightcolumn .nav-heading {
    text-align : right;
}

.xo-canvas-column li a {
    padding-left: 15px;
    text-decoration-line: none;
}

.xo-canvas-column li a.menuSub {
    padding-left: 30px;
}

.xo-canvas-column li a.actlink
{
    font-weight: bold;
}

.container h1 a {
    color: #666;
    text-decoration: none;
}
